<%# encoding: UTF-8 %>
<form action="./login.cgi" method="post">
  <div>
    <label for="authid">ID</label>
    <input type="text" id="authid" name="authid">
  </div>

  <div>
    <label for="password">パスワード</label>
    <input type="text" id="password" name="password">
  </div>

  <input type="submit" value="ログイン">
</form>
